/********************************imports***************************************/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/********************************variables*************************************/
:root {
    --header-background: #1f2937;
    --body-background: #f9fafb; 
    
    --header-color: #e5e7eb;
    --content-color: #111827;
    --priority-high: #ef4444;
    --priority-medium: #60a5fa;
    --priority-none:  #e5e7eb;
}

/*******************************tags*******************************************/
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--body-background);
}

header {
    background-color: var(--header-background);
    height: 4rem;
    color: var(--header-color);
    font-weight: bold;

    display: flex;
    justify-content: center;

}

/******************************class*******************************************/
.logo {
    width: 50px;
    height: 50px;
}

.dateDayTime{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    gap: 20px;
}

.notes-container {
    text-align: center; 
    background-color: var(--priority-none);
    border-radius: 15px;
    
    grid-column: 2/-1;
    grid-row: 3/-1;
}

.notes-container > h2 {
    padding: 10px;
    border-bottom: 1px solid rgb(200, 200, 200);
}
